*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    color: white;
    font-family: 'Inter', serif;
    padding: 15px;
}

.container{
    max-width: 500px;
    margin: auto;
    margin-top: 40px;
    background-color: hsl(0, 0%, 8%);
    padding: 40px;
    border-radius: 10px;

}

header>img{
    width: 150px;
    border-radius: 50%;
    margin: 20px 0 20px 0 ;
}

header{
    text-align: center;
}

h2{
    font-size: 2em;
    margin-bottom: 8px;
    font-weight: 400;
}

h3{
    font-size: 1em;
    margin-bottom: 20px;
    color: hsl(75, 94%, 57%);
}

p{
    font-weight: 400;
}

ul{
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    list-style: none;
}

li{
    background-color: hsl(0, 0%, 20%);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    font-weight: 600;
}

a{
    text-decoration: none;
    color: white;
}

li:hover{
    background-color: hsl(75, 94%, 57%) ;
    color: black;
}

@media screen and (max-width: 400px){
    .container{
        margin: auto;
    }
}