* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Figtree', serif;
    font-weight: 500;
    background-color: hsl(47, 88%, 63%);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    border-style: solid;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.98);
    -moz-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.98);
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.98);
}

header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

header>img {
    margin-top: 20px;
    border-radius: 10px;
    width: 100%;
}

.status,
.data {
    align-self: flex-start;
}

.status {
    background-color: hsl(47, 88%, 63%);
    margin-bottom: 0;
    padding: 5px 8px 5px 8px;
    border-radius: 5px;
    font-weight: 800;
}

.data {
    font-weight: 500;
    font-size: 0.9em;
}

section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 90%;
    margin: auto;
    padding-bottom: 20px;
}

a{
    text-decoration: none;
    color: black;
}
h1:hover{
    color: hsl(47, 88%, 63%);
}


section>p {
    font-size: 1.2em;
    color: hsl(0, 0%, 42%);
}

.author {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 800;
}

@media screen and (max-width: 450px) {

    .container{
        max-width: 375px;
        margin: 20px;
    }
    section>p {
        font-size: 1em;
    }

    .author>img{
        width: 3em;
    }
}