*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    color: white;
    background-image: url(./images/bg-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 450px; 
    background-color: hsl(229, 57%, 11%);
}

.container{
    max-width: 1200px;
    margin: auto;
    margin-top: 340px;
    padding: 20px;

    display: flex;
    justify-content: center;
    gap: 30px;
    /* border: 1px solid; */
}

.content-left{
    padding: 40px 150px 40px 40px;
    background-color: hsl(228, 56%, 26%);

    display: flex;
    flex-direction: column;
    gap: 30px;

    border-radius: 5px 100px 5px 5px;
    /* border: 1px solid red; */
}

.logo{
    width: 120px;
}

.icones{
    display: flex;
    gap: 15px;
}

.icon{
    width: 30px;
    height: 30px;
    padding: 8px;
    border-radius: 8px;
    background-color: hsl(229, 57%, 11%);
}

.document{
    background-image: url(./images/icon-document.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px
}

.pasta{
    background-image: url(./images/icon-folder.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px
}

.upload{
    background-image: url(./images/icon-upload.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px
}

.content-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-end;
    gap: 15px;

    position: relative;

    padding: 30px;
    border-radius: 8px;

    background-color: hsl(228, 56%, 26%);
    color: hsl(243, 100%, 93%);
}

.balao{
    width: 150px;
    padding: 12px;
    border-radius: 8px 8px 0px 8px;
    font-size: 0.9em;

    position: absolute;
    left: 260px;
    bottom: 110px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: hsl(0, 6%, 94%);
    color: hsl(229, 7%, 55%);
    font-weight: 600;

}

.balao::after{
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: linear-gradient(45deg,hsl(228, 56%, 26%) 0, hsl(228, 56%, 26%) 50% , hsl(0, 6%, 94%) 50%  );

    top: 65px;
    left: 154px;
}

.number{
    font-size: 2.8em;
    color: black;
    font-weight: 700;
}

span{
    color: white;
}

.content{
    width: 400px;
    height: 10px;
    padding: 3px;
    border-radius: 10px;
    background-color: hsl(229, 57%, 11%);
}

.barra{
    width: 70%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(to right, #ffa399, #ff4d97);

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ponto{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 3px;
    background-color: white;
}

.dados{
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 860px){

    body{
        background-image: url(./images/bg-mobile.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
    }

    .container{
        display: flex;
        flex-direction: column;
        /* justify-content: center;  */
        align-items: center;

        width: 70%;
        margin: auto;
        margin-top: 50px;
        padding: 0;

    }

    .content-left{
        width: 100%;
        padding: 30px;
    }

    .content-right{
        width: 100%;
        align-self: auto;
        text-align: center;
        padding-bottom: 0;
        margin-bottom: -30px;

        position: relative;
    }

    .content{
        width: 100%;
    }

    .balao{
        position: relative;
        order: 1;
        top: 30px;
        bottom: auto;
        left: auto;
        padding: 10px 5px 10px 5px;
        align-self: center;
        border-radius: 8px;
    }

    .balao::after{
        display: none;
    }
}