@font-face {
    font-family: 'idroid', cursive;
    src: url(./fontes/idroid.otf);
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #C5EBD6;
}

header{
    background: linear-gradient(#81DEAB,60%, #083F21);
    padding: 1px;
    text-align: center;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.404) 0px 5px 10px;
}

h1{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 48px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.404);
}

header>h3{
    /* max-width: 30%; */
    width: 400px;
    margin: auto;
    font-weight: 200;
}

nav{
    text-align: start;
    margin-left: 15px;
    color: white;
    padding: 40px 10px 10px 10px;
}

nav>a{
    text-decoration: none;
    color: white;
    margin-right: 15px;
    font-weight: bolder;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
}

nav>a:hover{
    background-color: #46b877e1;
    color: #083F21;
    text-decoration: none;
}

main{
    background-color: white;
    max-width: 820px;
    margin: auto;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.404) 0px 5px 10px;
}

.h1{
    font-family: "idroid", cursive;
    color: #1a5c37;
    padding: 24px;
    font-size: 24px;
    font-weight: bold;
}

h2{
    color: #063d1e;
    font-family: "idroid", cursive;
    margin-left: 24px;
    background: linear-gradient(to right, #C6EBD7, rgba(255, 255, 255, 0.932));
    padding: 2px;
}

main>p{
    text-indent: 2em;
    line-height: 2em;
    padding: 16px;
}

.mark{
    color: #2fa866;
    font-weight: 600;
}

img{
    width: 100%;
}

.dan-droids-mobile{
    display: none;
}

.irina-blok-mobile{
    display: none;
}

a{
    color: #2fa866;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

main a::after {
    content: " 🔗 ";
}

.bug-droid{
    max-width: 40%;
    display: block;
    margin: auto;
}

section{
    background-color: #063d1e;
    max-width: 820px;
    margin: auto;
    padding: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.404) 0px 5px 10px;
}

iframe{
    width: 90%;
    height: 400px;
    padding: 20px;
}

.lista{
    background-color: white;
    border-radius: 0px 0px 15px 15px;
}

.content{
    background-color: #C5EBD6;
    border-radius: 15px;
    overflow: hidden;
    margin: 15px;
}

.content-top{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    text-shadow: none;
    font-weight: 600;
    text-align: start;
    background-color: #2FA866;
    padding: 15px;
    margin-top: 0;
}

.content>p{
    text-indent: 2em;
    line-height: 2em;
    padding: 16px;
    text-align: start;
}

ul{
    column-count: 2;
    list-style: none;
}

li{
    text-align: start;
    list-style-type: "✔ ";
}

.lista>p{
    text-indent: 2em;
    line-height: 2em;
    padding: 16px;
    text-align: start;
}



footer{
    text-align: center;
    background-color: #063d1e;
    color: rgba(255, 255, 255, 0.856);
    padding: 1px;
    margin-top: 20px;
    bor
}

footer>p{
    line-height: 1px;
}

.author{
    font-weight: bold;
    color: white;
}

@media (max-width: 500px) {
    header>h3{
        width: 90%;
    }

    nav{
        margin-left: 0;
        padding-left: 0;
    }

    nav>a{
        margin-right: 0px;
        padding: 5px;
        font-size: 0.9em;
    }

    .dan-droids-pc{
        display: none;
    }

    .dan-droids-mobile{
        display: block;
    }

    .irina-blok-pc{
        display: none;
    }

    .irina-blok-mobile{
        display: block;
    }

    .content{
        margin: 5px;
    }

    
}






