@charset "UTF-8";

/*
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    background-color: #5f2c82;
    background-repeat: no-repeat;
}

main{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    border-radius: 15px;
    overflow: hidden;
    background-color: white;

    box-shadow: 0px 0px 5px 0px black;
    transition: all 0.3s ease;
}

#imagem{
    background-image: url(./imagens/pexels-sean-whang-25006-804269\ \(1\).jpg);
    background-position: center;
    background-size: cover;
    height: 250px;
}

#formulario{
    margin: 5px;
}

#formulario > h2{
    text-align: center;
    padding: 10px;
}

#formulario > p {
    margin: 10px;
}

.input-background{
    background-color: #5f2c82;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

input{
    width: 100%;
    padding: 12px;
    margin: 2px;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    background-color: #92D0CB;
}

input:focus{
    background-color: #E6F0F9;
}

label > img{
    width: 32px;
    margin: 5px;
    margin-bottom: -10px;
    padding: 5px;
}

.submit{
    background-color: #49a09d;
    color: white;
    padding: 15px;
    font-size: 1em;
    margin-bottom: 5px;
}

.submit:hover{
    background-color: #337573;
}

button{
    padding: 10px;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #49a09d;
    color: #49a09d;
    background-color: white;
    margin-bottom: 10px;
}

button:hover{
    background-color: #89fdf9d2;
}

@media screen and (min-width: 768px){
    body{
        /* background: linear-gradient(to bottom, #49a09d, #5f2c82 ); */
        background-color: black;
    }

    main{
        width: 90%;
    }
    #login{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        height: 350px;
    }

    #formulario{
        /* width: 50%; */
    }

    #imagem{
        width: 80%;
        height: 100%;
    }
}

@media screen and (min-width: 1000px){

    body{
        background: linear-gradient(to bottom, #49a09d, #5f2c82 );
    }

    main{
        width: 1000px;
    }
    #login{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 5px;
        height: 350px;
    }

    #formulario{
        width: 50%;
    }

    #imagem{
        width: 50%;
        height: 100%;
    }
}

