body {
    font-family: 'Open Sans', 'sans-serif';
    padding: 0;
    margin: 0;
}

.top-bar {
    color: white;
    background-color: #333;
    text-align: center;
    padding: 1px;   
    border-bottom: 5px solid #fd8a24;
    margin-bottom: 20px;
}

.container {
    max-width: 40%;
    margin: auto;
}

h1 {
    font-size: 40px;
}

.author {
    font-size: 14px;
    font-weight: 700;
    color: #555;
    margin-bottom: 2px;
}

.data {
    color: #555;
    font-size: 11px;
    font-weight: 600;
    margin-top: 0;
}

.icons-socias {
    width: 20px;
    margin-right: 10px
}

.content {
    max-width: 80%;
    margin: auto;
}

a {
    color: #fd8a24;
    font-weight: bold;
    text-decoration: none;
}

figure {
    margin: 0;
    padding: 0;
    color: #555;
    font-size: 12px;
}

img {
    width: 100%;
    text-align: justify;
}

footer {
    background-color: #333;
    padding: 40px;
    margin-top: 20px;
}