@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

p{
    margin-bottom: 10px;
    text-align: justify;
}

h1, h2{
    margin-bottom: 20px;
    line-height: 1.2em;
    text-align: left;
}

header, section.normal{
    padding: 20px;
}

section.flex-content{
    padding: 20px;
    background-color: #E3E3E1;
}

article.text-media{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 20px;
}

article.media-text{
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
    gap: 20px;
}

.text{
    flex: 1 1 500px;
}   

.media{
    flex: 1 1 300px;
}

div.media > img{
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

div.media > iframe{
    display: block;
    margin: auto;
    max-width: 100%;
}

