@font-face {
    font-family: MinhaFonte;
    src: url(./static/Outfit-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "MinhaFonte", sans-serif;
    background-color: bisque;
}

h1 {
    font-size: 2em;
}

h3{
    font-size: 1.3em;
}

p {
    font-size: 1.2em;
}

ul,
li {
    font-size: 1.1em;
}

.container {
    max-width: 900px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 40px;
    border-radius: 15px;
    background-color: white;
}

header>img {
    width: 100%;
    border-radius: 15px;
}

header>h1 {
    margin: 20px 0;
    font-family: 'Times New Roman', Times, serif;
}

.list-preparacao>h3 {
    font-family: MinhaFonte;
}

h2,
h3 {
    margin: 20px 0 20px 30px;
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    color: rgb(153, 49, 118);
}

h2 {
    color: maroon;
}

.list-preparacao {
    background-color: rgb(255, 232, 232);
    border-radius: 15px;
    padding: 5px 0 5px 6px;
    margin-top: 40px;
}

span {
    font-weight: 600;
    color: rgb(43, 43, 43);
}

ul,
ol {
    margin-left: 50px;
}

li::marker {
    color: maroon;
}

li {
    margin-bottom: 10px;
    padding-left: 10px;
}

.instrucoes {
    margin-bottom: 30px;
}

.nutricao {
    overflow: hidden;
}

.nutricao>p {
    margin: 20px 0 20px 30px;
}

.nutricoes {
    max-width: 80%;
    display: flex;
    margin: auto;
    gap: 50%;
    margin-bottom: 20px;
}

.nutri {
    width: 60px;
    flex-shrink: 1;
}

.m {
    color: maroon;
    font-weight: lighter;
}

hr {
    max-width: 100%;
    margin-left: 30px;
    margin-bottom: 20px;
    border: 0.5 solid rgb(58, 58, 58);
}

@media screen and (max-width: 900px) {
    body {
        background-color: white;
    }

    .container {
        padding: 20px;
    }

    ul,ol{
        margin-left: 20px;
    }
}