*, body{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    background-image: url(./images/bg-pattern-top-desktop.svg);
    background-repeat: no-repeat;
    background-size: 820px;
}

.container{
    width: 100%;
    padding-bottom: 207px;
    margin: auto;
    background-image: url(./images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;

}

section{
    max-width: 1200px;
    margin: auto;
    padding-top: 100px;

    display: grid;
    grid-template-columns: 50% 50%;

    /* border: 1px solid;   */
}

.content-title{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h1, p{
    width: 60%;
    margin: auto;
}

h1{
    font-size: 3em;
    color: hsl(300, 43%, 22%);
}

p{
    color: hsl(303, 10%, 53%);
    font-weight: 500;
    line-height: 1.3em;
}

.content-avaliaçoes{

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-top: 60px;
}

.content-avaliaçoes>span{
    background-color: hsla(302, 10%, 53%, 0.233);
    font-size: 1.2em;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    padding: 15px 15px 15px 25px;
    border-radius: 10px;
    width: 370px;
}

.content-avaliaçoes>span::before{
    content: url('./images/icon-star.svg') "  " url('./images/icon-star.svg') "  " url('./images/icon-star.svg') "  " url('./images/icon-star.svg') "  " url('./images/icon-star.svg')"  ";
    display: inline-block;
    margin-right: 15px;
}

.span2{
    margin-left: 45px;
}

.span3{
    margin-left: 85px;
}

.container-cards{
    display: flex ;
    justify-content: center;
    gap: 20px;

    max-width: 990px;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 300px;
    height: 240px;
    color: white;
    background-color: hsl(300, 43%, 22%);
    padding: 30px;
    border-radius: 10px;
    box-sizing: border-box;
}

.perfil{
    display: flex;
    align-items: center;
    gap: 20px;
}

.perfil>img{
    width: 50px;
    border-radius: 50%;
}

.profile{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.name{
    font-weight: 500;
}

.verific{
    color: hsl(333, 80%, 67%);
}

.card>p{
    color: hsl(300, 24%, 96%);
    width: 100%;
}

.card2{
    margin-top: 25px;
}

.card3{
    margin-top: 50px;
}

@media screen and (max-width: 985px){
    .container{
        display: flex;
        flex-direction: column;
    }

    section{
        max-width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    h1, p{
        width: 90%;
        margin: auto;
    }


    .content-avaliaçoes{
        width: 100%;
    }

    .content-avaliaçoes>span{
        display: flex;
        flex-direction: column;
        gap: 10px;

        width: 90%;
    }

    .span2, .span3{
        margin-left: 0px;
    }

    .container-cards{
        gap: 10px;
        width: 90%;

    }

    .card{
        width: 90%;
        box-sizing: inherit;
    }

    .card2, .card3{
        margin:0;
    }
}


@media screen and (max-width: 985px){
    h1,p, .content-avaliaçoes>span, .card{
        width: 70%;
        margin: auto;
    }
    .card{
        height: 150px;
    }

}
